body {
    background-color: honeydew;
    font-family: Comic Sans MS, system-ui;
}

h1,
#subtitle {
    text-align: center;
}

h1,
h2 {
    margin: 0;
    color: rebeccapurple;
}

#subtitle,
.techno {
    color: indianred;
    margin-bottom: 1rem;
}

#offers {
    display: grid;
    gap: 1rem;
    padding: 1rem;
}

article {
    background-color: antiquewhite;
    padding: 1rem;
    box-sizing: border-box;
    border: 3px seagreen dashed;
}